<%if current_user.company.percentage_full == 0%>
  <div class = "row space_avaliable-100 show-div" style="z-index:-1;" id="available" onclick="set_venue_status(0)">
    <div style='margin:auto; text-align: center;'>
      <h1 style="color: white; top:33vh; position: relative;">
        There's plenty of room. Come on in!
      </h1>
    </div>
    <div style="bottom: 0; position: absolute; left:40vw;">
      <h1 style="color:white">FINDAVENUE.IO </h1>
    </div>
  </div>
  <div class = "row space_almost_out-100 hide-div" id="almost_out" onclick="set_venue_status(1)">
    <div style='margin:auto;   text-align: center;'>
      <h1 style="color: white;  top:33vh; position: relative;"">
        Walkin's & small groups welcome
      </h1>
    </div>
    <div style="bottom: 0; position: absolute; left:40vw;">
      <h1 style="color:white">FINDAVENUE.IO </h1>
    </div>
  </div>
  <div class = "row space_not_avaliable-100 hide-div" id="out" onclick="set_venue_status(2)">
    <div style='margin:auto;   text-align: center;'>
      <h1 style="color: white;  top:33vh; position: relative;"">
        FULL <br>
        Register now for SMS alerts.
      </h1>
    </div>
    <div style="bottom: 0; position: absolute; left:40vw;">
      <h1 style="color:white">FINDAVENUE.IO </h1>
    </div>
  </div>
<%end%>
<%if current_user.company.percentage_full == 100%>
  <div class = "row space_avaliable-100 hide-div" id="available" onclick="set_venue_status(0)">
    <div style='margin:auto;   text-align: center;'>
      <h1 style="color: white;  top:33vh; position: relative;"">
        There's plenty of room. Come on in!
      </h1>
    </div>
    <div style="bottom: 0; position: absolute; left:40vw;">
      <h1 style="color:white">FINDAVENUE.IO </h1>
    </div>
  </div>
  <div class = "row space_almost_out-100 hide-div" id="almost_out" onclick="set_venue_status(1)">
    <div style='margin:auto;   text-align: center;'>
      <h1 style="color: white;  top:33vh; position: relative;"">
        Walkin's & small groups welcome
      </h1>
    </div>
    <div style="bottom: 0; position: absolute; left:40vw;">
      <h1 style="color:white; bottom: 0; position: absolute; text-align:center">FINDAVENUE.IO </h1>
    </div>
  </div>
  <div class = "row space_not_avaliable-100 show-div" id="out" onclick="set_venue_status(2)">
    <div style='margin:auto;   text-align: center;'>
      <h1 style="color: white;  top:33vh; position: relative;"">
        FULL <br> Register now for SMS alerts.
      </h1>
    </div>
    <div style="bottom: 0; position: absolute; left:40vw;">
      <h1 style="color:white">FINDAVENUE.IO </h1>
    </div>
  </div>
<%end%>
<%if current_user.company.percentage_full == 50%>
  <div class = "row space_avaliable-100 hide-div" id="available" onclick="set_venue_status(0)">
    <div style='margin:auto;   text-align: center;'>
      <h1 style="color: white;   top:33vh; position: relative;"">
        There's plenty of room. Come on in!
      </h1>
    </div>
    <div style="bottom: 0; position: absolute; left:40vw;">
      <h1 style="color:white">FINDAVENUE.IO </h1>
    </div>
  </div>
  <div class = "row space_almost_out-100 show-div" id="almost_out" onclick="set_venue_status(1)">
    <div style='margin:auto;   text-align: center;'>
      <h1 style="color: white;  top:33vh; position: relative;"">
        Walkin's & small groups welcome
      </h1>
    </div>
    <div style="bottom: 0; position: absolute; left:40vw;">
      <h1 style="color:white">FINDAVENUE.IO </h1>
    </div>
  </div>
  <div class = "row space_not_avaliable-100 hide-div" id="out" onclick="set_venue_status(2)">
    <div style='margin:auto;   text-align: center;'>
      <h1 style="color: white;  top:33vh; position: relative;"">
        <h1 style="font-size:900">FULL </h1><br> Register now for SMS alerts.
      </h1>
    </div>
    <div style="bottom: 0; position: absolute; left:40vw;">
      <h1 style="color:white">FINDAVENUE.IO </h1>
    </div>
  </div>
<%end%>

<script type="text/javascript">
  function update_path(){
    $.ajax({
      type: "POST",
      url: "<%=change_page_path%>",
      dataType: 'script'
    });
  }
  setInterval(function() {
    update_path()
  }, 5000);
</script>
