<%if current_user.company.percentage_full == 0%>
  <div class = "row space_avaliable-100 show-div" id="available" onclick="set_venue_status(0)">

  </div>
  <div class = "row space_almost_out-100 hide-div" id="almost_out" onclick="set_venue_status(1)">

  </div>
  <div class = "row space_not_avaliable-100 hide-div" id="out" onclick="set_venue_status(2)">

  </div>
<%end%>
<%if current_user.company.percentage_full == 100%>
  <div class = "row space_avaliable-100 hide-div" id="available" onclick="set_venue_status(0)">

  </div>
  <div class = "row space_almost_out-100 hide-div" id="almost_out" onclick="set_venue_status(1)">

  </div>
  <div class = "row space_not_avaliable-100 show-div" id="out" onclick="set_venue_status(2)">

  </div>
<%end%>
<%if current_user.company.percentage_full == 50%>
  <div class = "row space_avaliable-100 hide-div" id="available" onclick="set_venue_status(0)">

  </div>
  <div class = "row space_almost_out-100 show-div" id="almost_out" onclick="set_venue_status(1)">

  </div>
  <div class = "row space_not_avaliable-100 hide-div" id="out" onclick="set_venue_status(2)">
    
  </div>
<%end%>

<script type="text/javascript">
  function update_path(){
    $.ajax({
      type: "POST",
      url: "<%=change_page_path%>",
      dataType: 'script'
    });

  }
  setInterval(function() {
    update_path()
  }, 5000);
</script>
