<h1> Companies </h1>
<table id="company-datatable" class="display responsive nowrap" style="width:100%; margin:auto;" data-source="<%= root_path(format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Capacity</th>
			<th>Link</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
